<!DOCTYPE html>
<html lang="en">
<head>

    <title>deimagetextfile</title>

</head>
<body style="background-color: #ccffcc;">
<form action="/deimagetextfile" method="post" enctype="multipart/form-data">
    <center><h1>Put the container or the text file to decrypt</h1></center>
    <br>
     {%csrf_token%}
    <center><input type="file" id="files" name="files"></center>
    <br>


    <center><h1>hidden textfile is:</h1></center>
    <br>
    <center><button>submit</button></center>

    <br>

</form>
</body>
</html>