<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detexttex</title>
</head>
<body style="background-color: #ccffcc;">
<form action="/destegotext" method="post" enctype="multipart/form-data">
    <center><h1>Put the container or the text to decrypt</h1></center>
    <br>
    {%csrf_token%}
    <center><input type="file" id="file15" name="file15"></center>
    <br>


    <center><h1>hidden text is:</h1></center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center><button type="submit">submit</button></center>

    <br>

</form>
</body>
</html>