<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>t1audio</title>
</head>
<body >
<h1>BEFORE ENCODING THE DATA THE AUDIO WILL BE LIKE:</h1>
<p>Uploaded File: <a href="http://127.0.0.1:8000/media/container.txt">your uploaded audio</a></p>
<br>
<br>
<br>
<br>
<h1>AFTER ENCODING THE DATA THE AUDIO WILL BE LIKE:</h1>
<h2>CLICK HERE TO DOWNLOAD HERE</h2>
<p>Encoded File: <a href="http://127.0.0.1:8000/media/stego_container.txt">your encoded audio</a></p>



</body>
</html>